:root {
    --primary-color: #17151b;
    --secondary-color: #0f0e11;
    --threadhub-border-color: #312e37;
    --threadhub-button-color: #8060c7;
    --threadhub-button-bg-color: #2B2830;
    --threadhub-text-color: #C0BCCA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

a, p , h1, h2, h3, h4, h5, h6 , i, em , strong, span {
    color: var(--threadhub-text-color);
}

body {
    background-color: var(--secondary-color);
}